<section class="gallery">
  <div class="container">
    <ul class="gallery-list">
      <li class="gallery-item">
        <img src="img/1.jpg" alt="Image 1" />
      </li>
      <li class="gallery-item">
        <img src="img/2.jpg" alt="Image 2" />
      </li>
      <li class="gallery-item">
        <img src="img/3.jpg" alt="Image 3" />
      </li>
      <li class="gallery-item">
        <img src="img/4.jpg" alt="Image 4" />
      </li>
      <li class="gallery-item">
        <img src="img/5.jpg" alt="Image 5" />
      </li>
      <li class="gallery-item">
        <img src="img/6.jpg" alt="Image 6" />
      </li>
      <li class="gallery-item">
        <img src="img/7.jpg" alt="Image 7" />
      </li>
    </ul>
  </div>
</section>